.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9fafb;
    /* juda yorqin emas, sof */
    padding: 20px;
}

.box {
    text-align: center;
    max-width: 480px;
    width: 100%;
    padding: 40px 20px;
    border-radius: 16px;

}

.code {
    font-size: 72px;
    font-weight: 700;
    color: #111827;
    margin: 0 0 10px 0;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 12px;
}

.text {
    font-size: 16px;
    color: #6b7280;
    margin-bottom: 24px;
    line-height: 1.5;
}

.btn {
    background: #111827;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #374151;
}

.btn:active {
    background: #000000;
}

@media (max-width: 500px) {
    .code {
        font-size: 56px;
    }

    .title {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }

    .btn {
        width: 100%;
    }
}