* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 10px auto;
}

body {
    font-family: 'Inter', sans-serif;
}

.bg {
    background: linear-gradient(90deg, #4a00e0, #8e2de2);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: 16px;
    display: none;
}

.menu {
    display: flex;
    justify-content: space-around;
}


.menu_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    padding: 16px 0;
}

.menu_card i,
p {
    color: white;
    font-size: 10px;
}

.menu_card i {
    font-size: 17px;
}



.menu_card a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.menu_card i {
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu_card p {
    font-size: 12px;
    transition: color 0.3s ease;
}

/* 🔥 ACTIVE PAGE STYLE */
.active i,
.active p {
    color: #ded9c2;
    /* oltin rang (premium) */
    font-weight: bold;
    transform: scale(1.1);
}




































































@media (max-width: 768px) {
    .bg {
        display: block;
    }
}